{% extends 'base.html.twig' %}

{% block javascripts %}
        {{ encore_entry_script_tags('templateFilter.js') }}
		{{ parent() }}
 {% endblock %}

{% block title %}Packages{% endblock %}

{% block body %}

    {% include 'nav.html.twig' %}
    
    <header class="module-title-hdr entities">
        <h1 class="title-entity">Packages</h1>
        <div class="module-info">
            <p class="module-text partner-text"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Libero odit ab est aliquid sapiente. 
                Aut ipsum sunt id totam tempora, aspernatur est quisquam corrupti corporis, 
                neque quasi ex quis consectetur.
            </p>

            <div class="status">
                <p class="module-text entity-status"> {{ templates | length }} package(s) OptiSport</p>
            </div>
            <div class="add-entity">
                <a class="btn btn-outline-success btn-lg" href="{{ path('new_template') }}">Ajouter un package</a>
            </div>
        </div>
    </header>

    <div class="home-hdr-sep"> 
    </div>
    
    <section class="module template">
        <div class="module-content entity">
            <nav class="list-filters">
                <h3 class="title-filter">Filtre</h3>
                <div class="row row-filter-template">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label">Nom Package</label>
                            <input type="text" class="form-control w100" id="templateName" placeholder="" />
                        </div>
                    </div>
                </div>
            </nav>

            <div class="home-hdr-sep"> 
            </div>

            <h3 class="count-entity">{{ pluralize(templates|length, 'Package OptiSport', 'Packages OptiSport') }}</h3>

            <div class="container table-container">
                <table class="table table-bordered table-container">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom Template</th>
                        <th scope="col">Date Création</th>
                        <th scope="col">Nombre Modules</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody class="tbody-content table-group-divider">
                    {% for template in templates  %}
                        <tr class="templateTr">

                            <td class="templateId" scope="row">{{ template.id }}</td>
                            <td class="templateName">{{ template.name }}</td>
                            <td class="templateCreatedAt">{{ template.createdAt | date('d-m-Y') }}</td> 
                            <td class="templateModules" scope="row"> {{ template.modules | length}}</td>
                            <td class="templateActions">
                                <a class="btn btn-outline-success btn-entity-content" href="{{ path('edit_template', {id: template.id}) }}">Modifier</a>
                                {{ include('template/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tbody class="tbody-show-results table-group-divider">
                    </tbody>

                </table>
            </div>
        </div>
    </section><!-- /.module.projects -->
{% endblock %}
