{% extends 'base.html.twig' %}

{% block javascripts %}
        {{ encore_entry_script_tags('partnerFilter') }}
        {{ encore_entry_script_tags('partnerStatusFilter') }}
		{{ parent() }}
 {% endblock %}

{% block title %}Partenaires{% endblock %}



{% block body %}

    {% include 'nav.html.twig' %}
    
    <header class="module-title-hdr entities">
        <h1 class="title-entity">Partenaires</h1>
        <div class="module-info">
            <p class="module-text partner-text"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Libero odit ab est aliquid sapiente. 
                Aut ipsum sunt id totam tempora, aspernatur est quisquam corrupti corporis, 
                neque quasi ex quis consectetur.
            </p>
            <div class="status">
                <p class="module-text entity-status"> {{ partners | length }} partenaire(s) OptiSport enregistré</p>
            </div>
            <div class="add-entity">
                <a class="btn btn-outline-success btn-lg" href="{{ path('new_partner') }}">Ajouter un partenaire</a>
            </div>
        </div>
    </header>

    <div class="home-hdr-sep"> 
    </div>
    
    <section class="module partner">
        <div class="module-content entity">
            <nav class="list-filters">
                <h3>Filtres</h3>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="label">Nom Partenaire</label>
                            <input type="text" class="form-control w100" id="partnerName" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Statut Partenaire</label>
                            <select class="form-control selectpicker" id="partnerStatus" title="">
                                <option value="1">actif</option>
                                <option value="0">Inactif</option>
                                <option value="all">Tous</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="home-hdr-sep"> 
            </div>

            <h3 class="count-entity">{{ pluralize(partners|length, 'Partenaire OptiSport', 'Partenaires OptiSport') }}</h3>
            
            <div class="resultat">
            </div>

            <div class="container table-container">
                <table class="table table-bordered table-container">
                    <thead>
                    <tr>
                        <th class="" scope="col">#</th>
                        <th scope="col">Nom Partenaire</th>
                        <th scope="col">Date Création</th>
                        <th scope="col">Status</th>
                        <th scope="col">Package Associé</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                
                    <tbody class="tbody-content table-group-divider">
                        {% for partner in partners  %}
                            <tr class="partnerTr">
                            
                                <td class="parterId" scope="row"> {{ partner.id }}</td>
                                <td class="partnerName">{{ partner.name }}</td>
                                <td class="partnerCreatedAt">{{ partner.createdAt | date('d-m-Y')}}</td>
                                {% if partner.isActive %}
                                    <td class="partnerStatus">Actif</td>
                                {% else %}
                                    <td class="partnerStatus">Inactif</td>
                                {% endif %}
                                {% if partner.template %}
                                    <td class="partnerTemplate">{{ partner.template }}</td>
                                {% else %}
                                    <td class="partnerTemplate"> Aucun </td>
                                {% endif %}
                                <td class="partnerActions">
                        
                                    <a class="btn btn-outline-primary btn-entity-show" href="{{ path('app_partner_show', {id: partner.id}) }}">Voir</a>
                                    <a class="btn btn-outline-warning btn-entity-show" href="{{ path('edit_partner', {id: partner.id}) }}">Modifier</a>
                                    {% if partner.isActive %}
                                        <button data-partner="{{partner.id}}" class="btn btn-outline-danger activatePartner deactivate">Désactiver</button> 
                                    {% else %}
                                        <button data-partner="{{partner.id}}" class="btn btn-outline-success activatePartner activate">Activer</button> 
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                
                    <tbody class="tbody-show-results table-group-divider">
                    </tbody>
                   
                </table>
            </div>
        </div>
    </section><!-- /.module.projects -->

{% endblock %}
