{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}
    <header class="main-header">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#people-circle"></use></svg>
        <h1>Partenaires</h1>
    </header>
    
    <section class="module partner">
        <div class="module-content">
            <nav class="list-filters">
                <h3>Filtres</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Nom Partenaire</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Statut Partenaire</label>
                            <select class="form-control selectpicker" title="">
                                <option>actif</option>
                                <option>Inactif</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email Partenaire</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-submit">
                            <button type="button" class="btn btn-outline-primary" data-icon="reset" title="Remettre à zéro les filtres"><span class="icon"></span><span class="text">RAZ</span></button>
                            <button type="button" class="btn btn-outline-success" data-icon="search" title="Rechercher"><span class="icon"></span><span class="text">Rechercher</span></button>
                        </div>
                    </div>
                </div>
            </nav>

            <h3>{{ pluralize(partners|length, 'Partenaire', 'Partenaires') }}</h3>

            <div class="container table-container">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Partenaires</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">Modules</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for partner in partners  %}
                        {# {% for mod in partner.mods %}
                                {{ dump(mod) }}
                        {% endfor %} #}
                        <tr>
                            <td scope="row"> {{ partner.id }}</td>
                            <td> {{ partner.name }}</td>
                            {% if partner.isActive %}
                                <td>Actif</td>
                            {% else %}
                                <td>Inactif</td>
                            {% endif %}
                            <td>
                                <a class="btn btn-outline-primary" href="{{ path('app_partner_show', {id: partner.id}) }}">Voir</a>
                                {% if partner.isActive %}
                                    <button type="button" class="btn btn-outline-danger">Désactiver</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-success">Activé</button>
                                {% endif %}
                            </td>
                            <td>             
                                <ul>
                                 {% for mod in partner.mods %}
                                    <li> {{ mod.name}} </li>
                                 {% endfor %}
                                </ul>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <a class="btn btn-outline-success btn-lg" href="{{ path('new_partner') }}">Ajouter un partenaire</a>
        </div>
    </section><!-- /.module.projects -->

{% endblock %}
