{% extends 'base.html.twig' %}

 {% block javascripts %}
        {{ encore_entry_script_tags('activateModules') }}
		{{ parent() }}
 {% endblock %}

{% block title %}{{partner.name}}{% endblock %}

{% block body %}
    <header class="module-title-hdr entities">
        <img 
            class="entity-logo partner" 
            src="{{ asset('uploads/partner/logo/'~partner.logo)}}"
            alt="opti-image"
            >
        <h1 class="title-entity partner">{{ partner.name }}</h1>
        <div class="entity-text">
            <p>{{partner.description}}</p>
        </div>
    </header>

    <div class="home-hdr-sep"> 
    </div>

 <p> {{ partner.description }}</p>

 {% if structures is not empty  %}
    <h4>Structures</h4>
   <ul>
    {% for structure in partner.structures  %}
    <li> {{ structure.name }}</li>
    <a class="btn btn-outline-success btn-lg" href="{{ path('app_structure_show', {id: structure.id}) }}">Voir</a>
    {% endfor %}
   </ul>   
 {% endif %}
   <ul>
    {% for module in mods  %}
    <li> {{ module }}</li>
      {% if module in partner.mods %}
         <button data-mod="{{module.id}}" data-partner="{{partner.id}}" class="activationModule deactivate">Désactiver</button>
         {% else %}
        <button data-mod="{{module.id}}" data-partner="{{partner.id}}" class="activationModule activate">Activer</button>
      {% endif %}
        
   
  
    {% endfor %}
   </ul>
    {# <a href="{{ path('edit_partner', {id: partner.id}) }}">Modifier le partenaire</a> #}
    <a class="btn btn-outline-success btn-lg" href="{{ path('new_structure', {id: partner.id}) }}">Ajouter une structure</a>
{% endblock %}
