{% extends 'base.html.twig' %}

{% block title %}{{partner.name}}{% endblock %}

{% block body %}
    {% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
      {% include 'nav.html.twig' %}
    {% endif %}

    <header class="module-title-hdr entities">
      <img 
          class="entity-logo partner" 
          src="{{ asset('uploads/partner/logo/'~partner.logo)}}"
          alt="opti-image"
      >  
      <h1 class="title-entity partner">{{ partner.name }}</h1>
      <div class="entity-text">
          <p> Partenaire crée le  {{ partner.createdAt | date('d-m-Y') }}
          {% if partner.isActive %}
            <p> Actif </p>
          {% else %}
            <p> Inactif </p>
          {% endif %}
          <p>{{partner.summary}}</p>
      </div>

      {% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
        <div class="entity-action-show">
            <a class="btn btn-outline-success btn-lg" href="{{ path('edit_partner', {id: partner.id}) }}">Modifier le partenaire</a>
            <a class="btn btn-outline-success btn-lg" href="{{ path('new_structure', {id: partner.id}) }}">Ajouter une Structure</a>
        </div>
      {% endif %}
    </header>

    <div class="home-hdr-sep"> 
    </div>

    <section class="module-title-hdr entities">
      <img 
          class="entity-logo partner" 
          src="{{asset('img/optiLogo.svg')}}"
          alt="opti-image"
      >  
      <h3 class="title-entity partner">Package & Structures</h3>
      <div class="entity-text details">
        {% if partner.template is not empty %}
                <p class="module-text"> Package utilisé : {{ partner.template }} </p>
                {% for module in templateMods %}
                    <p class="module-text btn btn-lg btn-dark "> {{ module.name }} </p>
                {% endfor %}

          {% else %}
                <p class="module-text"> Aucun Package rattaché à la structure {{ partner.name }} </p>
          {% endif %}
                  <p class="module-text"> Structure(s) du Partenaire :  </p>
          {% for structure in partner.structures  %}
              
                <a class="module-text btn btn-lg btn-primary" href="{{ path('app_structure_show', {id: structure.id}) }}"> {{ structure.name }}</a>
          {% endfor %}
      </div>
    </section>

    <div class="home-hdr-sep"> 
    </div>

    <section class="module-title-hdr entities">
      <img 
          class="entity-logo partner" 
          src="{{asset('img/optiLogo.svg')}}"
          alt="opti-image"
      >  
      <h3 class="title-entity partner">Description</h3>
      <div class="entity-text">
          <p>{{partner.description}}</p>
      </div>
    </section>

    <div class="home-hdr-sep"> 
    </div>

    <div class="del-container-entity">
    {% if app.user and ('ROLE_ADMIN') in app.user.roles %}
        {{ include('partner/_delete_form.html.twig') }}
    {% else %}
        <p class="entity-contact"> Pour toute modifications concernant votre structure {{ partner.name }}, veuillez contacter un Administrateur OptiSport </p>
    </div>
    {% endif %}
    </div>
{% endblock %}
