{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <header class="module-title-hdr entities">
        <h1 class="title-entity">Utilisateurs</h1>
    </header>

    <div class="home-hdr-sep"> 
    </div>
    
    <section class="module template">
        <div class="module-content entity">
                        <nav class="list-filters">
                <h3>Filtres</h3>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="label">ID</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="label">Nom</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="label">Prénom</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="row email">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="label">Email</label>
                            <input type="text" class="form-control w100" placeholder="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="label">Rôle</label>
                            <select class="form-control selectpicker" title="">
                                <option>Administrateur OptiSport</option>
                                <option>Manager Partenaire</option>
                                <option>Manager Structure</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                    {# <div class="col-md-6">
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-icon="reset" title="Remettre à zéro les filtres"><span class="icon"></span><span class="text">RAZ</span></button>
                    </div> #}
                    <div class="col-md-6 button-filter">
                        <button type="button" class="btn btn-outline-success btn-lg btn-block" data-icon="search" title="Rechercher"><span class="icon"></span><span class="text">Rechercher</span></button>
                    </div>
                </div>
            </nav>

            <div class="home-hdr-sep"> 
            </div>

            <h3 class="count-entity">{{ pluralize(users|length, 'Utilisateur OptiSport', 'Utilisateurs OptiSport') }}</h3>

            <div class="container table-container">
                <table class="table table-bordered table-container">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date Création</th>
                        <th scope="col">Email</th>
                        <th scope="col">Rôle</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for user in users  %}
                        <tr>
                            <td scope="row"> {{ user.id }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.createdAt | date('d-m-Y') }}</td>
                            <td>{{ user.email }}</td>
                            {# <td>{{ user.roles | join(', ') }}</td> #}
                            {% if "ROLE_ADMIN" in user.roles %}
                                <td>Administrateur</td>
                            {% elseif "ROLE_MANAGER" in user.roles %}
                                <td>Manager Partenaire</td>
                            {% else %}
                                <td>Manager Structure</td>
                            {% endif %}
                            <td>
                                
                            {% if "ROLE_ADMIN" in user.roles %}    
                                {{ include('user/_delete_form.html.twig') }}
                            {% else %}
                                {# <a class="btn btn-outline-success" href="{{ path('edit_user', {id: user.id}) }}">Modifier</a> #}
                                 <a class="btn btn-outline-primary" href="{{ path('edit_user', {id: user.id}) }}">Modifier</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-sep "> 
            </div>

            <div class="add-entity">
                <a class="btn btn-outline-success btn-lg" href="{{ path('new_admin') }}">Ajouter un Administrateur</a>
            </div>
        </div>
    </section><!-- /.module.projects -->
{% endblock %}
