{% extends 'base.html.twig' %}

{% block javascripts %}
        {{ encore_entry_script_tags('moduleFilter') }}
        {{ encore_entry_script_tags('moduleStatusFilter') }}
        {{ encore_entry_script_tags('activateModule') }}
		{{ parent() }}
 {% endblock %}

{% block title %}Modules{% endblock %}

{% block body %}

    {% include 'nav.html.twig' %}

    <header class="module-title-hdr entities">
        <h1 class="title-entity">Modules</h1>
        <div class="module-info">
            <p class="module-text partner-text"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Libero odit ab est aliquid sapiente. 
                Aut ipsum sunt id totam tempora, aspernatur est quisquam corrupti corporis, 
                neque quasi ex quis consectetur.
            </p>
            <div class="status">
                <p class="module-text entity-status"> {{ modules | length }} module(s) OptiSport au total </p>
                <p class="module-text entity-status"> {{ activeModules | length}} module(s) OptiSport actif </p>
            </div>
            <div class="add-entity">
                <a class="btn btn-outline-success btn-lg" href="{{ path('new_module') }}">Ajouter un module</a>
            </div>
           
        </div>
    </header>

    <div class="home-hdr-sep"> 
    </div>

    <section class="module template">
        <div class="module-content entity">
            <img 
                class="entity-logo partner" 
                src="{{asset('img/optiLogo.svg')}}"
                alt="opti-image"
            >  
            <h3 class="count-entity">{{ pluralize(modules|length, 'Module OptiSport', 'Modules OptiSport') }}</h3>

            <div class="home-hdr-sep"> 
            </div>

            <div class="container table-container">
                <table class="table table-bordered table-container">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom Module</th>
                        <th scope="col">Date Création</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                        <th scope="col">Suppression</th>
                    </tr>
                    </thead>
                    <tbody class="tbody-content table-group-divider">
                    {% for module in modules %}
                        <tr>
                            <td scope="row"> {{ module.id }}</td>
                            <td> {{ module.name }}</td>
                            <td> {{ module.createdAt | date('d-m-Y') }}</td>
                            {% if module.isActive %}
                                <td>Actif</td>
                            {% else %}
                                <td>Inactif</td>
                            {% endif %}
                            <td class="moduleActions">
                                {% if module.isActive %}
                                    <button data-module="{{module.id}}" class="btn btn-outline-danger activateModule deactivate">Désactiver</button> 
                                {% else %}
                                    <button data-module="{{module.id}}" class="btn btn-outline-success activateModule activate">Activer</button> 
                                {% endif %}
                                <a class="btn btn-outline-success" href="{{ path('edit_module', {id: module.id}) }}">Modifier</a>
                            </td>
                            <td>
                                <div>
                                    {{ include('mods/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tbody class="tbody-show-results table-group-divider">
                    </tbody>

                </table>
            </div>
        </div>

        
    </section><!-- /.module.projects -->
{% endblock %}
